

*.iml
.gradle
/local.properties
/.idea
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties
/backend/.env
/frontend/.idea/
/frontend/.gradle/
/backend/node_modules
/frontend/gradle
/backend/dist